@model DateNiteBackEndCapstone.Models.BusinessViewModels.BusinessListViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Finalize Date</h1>

<div>
    @Html.ActionLink("Continue Searching Eateries", "SearchEatery", "Businesses")
</div>
<div>
    @Html.ActionLink("Continue Searching Fun", "SearchFun", "Businesses")
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Businesses
            </th>
            <th></th>
            <th>Rated</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Businesses)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Name, "Details", "Businesses", new { id = item.BusinessId })
                </td>
                <td>
                    <img style="width:135px; height:135px;" src="@Html.DisplayFor(modelItem => item.Img)" />
                </td>

                <td>
                    @Html.ActionLink("Remove From Date", "Delete", "Businesses", new { id = item.Id }, new { @class = "btn btn-link" })
                </td><td>
                    @Html.ActionLink("Back To Details", "Details", "Businesses", new { id = item.BusinessId }, new { @class = "btn btn-link" })
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.Businesses.Count != 0)
{
    <form asp-action="CompleteDate">
        <div>
            <input name="DateId" type="hidden" value="@Model.Date.Id" />
          <input asp-for="DateTime" style="max-width:22%; margin-bottom:30px;" type="datetime-local" class="form-control" required/>
            <input type="submit" value="Save Date" class="btn btn-primary" />
        </div>
    </form>
}
else
{
    <input value="Save Date" class="btn btn-secondary disabled" />
}
