@model DateNiteBackEndCapstone.Models.BusinessViewModels.BusinessListViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Finalize Date</h1>

<table class="table">
    <thead>
    </thead>
    <tbody>
        @foreach (var item in Model.Businesses)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <img style="width:200px; height:200px;" src="@Html.DisplayFor(modelItem => item.Img)" />
                </td>

                <td>
                    @Html.ActionLink("Remove From Date", "Delete", "Businesses", new { id = item.Id }, new { @class = "btn btn-sm btn-outline-danger" })
                </td><td>
                    @Html.ActionLink("Back To Details", "Details", "Businesses", new { id = item.BusinessId }, new { @class = "btn btn-sm btn-outline-secondary" })
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.Businesses.Count != 0)
{
    <form asp-action="CompleteDate">
        <div>
            <input name="DateId" type="hidden" value="@Model.Date.Id" />
          <input asp-for="DateTime" style="max-width:25%; margin-bottom:30px; background-color: #d9d9d9;" type="datetime-local" class="form-control" required/>
            <input type="submit" value="Save Date" class="btn btn-sm btn-outline-success" />
        </div>
    </form>
}
else
{
    <input value="Save Date" class="btn btn-sm btn-outline-dark disabled" />
}
