@model DateNiteBackEndCapstone.Models.Business
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Details";
    var currentUser = await UserManager.GetUserAsync(User);
}

<div>
    <h5>@Html.DisplayFor(model => model.Name)</h5>
    <hr />
    <div class="">
        <p class="col-sm-10">
            <img style="width:200px; height:200px;" src="@Html.DisplayFor(model => model.Img)" />
        </p>

        @if (Model.Rating.ToString() == "1.0" || Model.Rating.ToString() == "1.1" || Model.Rating.ToString() == "1.2" || Model.Rating.ToString() == "1.3" || Model.Rating.ToString() == "1.4" || Model.Rating.ToString() == "1.5" || Model.Rating.ToString() == "1.6" || Model.Rating.ToString() == "1.7" || Model.Rating.ToString() == "1.8" || Model.Rating.ToString() == "1.9")
        {
            <p>
                ⭐
            </p>
        }
        else if (Model.Rating.ToString() == "2.0" || Model.Rating.ToString() == "2.1" || Model.Rating.ToString() == "2.2" || Model.Rating.ToString() == "2.3" || Model.Rating.ToString() == "2.4" || Model.Rating.ToString() == "2.5" || Model.Rating.ToString() == "2.6" || Model.Rating.ToString() == "2.7" || Model.Rating.ToString() == "2.8" || Model.Rating.ToString() == "2.9")
        {
            <p>
                ⭐⭐
            </p>
        }
        else if (Model.Rating.ToString() == "3.0" || Model.Rating.ToString() == "3.1" || Model.Rating.ToString() == "3.2" || Model.Rating.ToString() == "3.3" || Model.Rating.ToString() == "3.4" || Model.Rating.ToString() == "3.5" || Model.Rating.ToString() == "3.6" || Model.Rating.ToString() == "3.7" || Model.Rating.ToString() == "3.8" || Model.Rating.ToString() == "3.9")
        {
            <p>
                ⭐⭐⭐
            </p>
        }
        else if (Model.Rating.ToString() == "4.0" || Model.Rating.ToString() == "4.1" || Model.Rating.ToString() == "4.2" || Model.Rating.ToString() == "4.3" || Model.Rating.ToString() == "4.4" || Model.Rating.ToString() == "4.5" || Model.Rating.ToString() == "4.6" || Model.Rating.ToString() == "4.7" || Model.Rating.ToString() == "4.8" || Model.Rating.ToString() == "4.9")
        {
            <p>
                ⭐⭐⭐⭐
            </p>
        }
        else if (Model.Rating.ToString() == "5.0" || Model.Rating.ToString() == "5.1" || Model.Rating.ToString() == "5.2" || Model.Rating.ToString() == "5.3" || Model.Rating.ToString() == "5.4" || Model.Rating.ToString() == "5.5" || Model.Rating.ToString() == "5.6" || Model.Rating.ToString() == "5.7" || Model.Rating.ToString() == "5.8" || Model.Rating.ToString() == "5.9")
        {
            <p>
                ⭐⭐⭐⭐⭐
            </p>
        }
        else
        {
            <p>
                This Restaurant Does Not Have A Rating A This Time!
            </p>
        }

        @foreach (var address in Model.Location.DisplayAddress)
        {
            <div>
                <p>@address</p>
            </div>

        }


        <p class="col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </p>
    </div>
    @if (Model.ApplicationUserId != currentUser.Id)
    {
        @using (Html.BeginForm("AddToDate", "Restaurants"))
        {
            <input asp-for="Id" type="hidden" value="@Model.Id" class="form-control" />
            <input asp-for="Name" type="hidden" value="@Model.Name" class="form-control" />
            <input asp-for="Location" type="hidden" value="@Model.Location" class="form-control" />
            <input asp-for="Price" type="hidden" value="@Model.Price" class="form-control" />
            <input asp-for="Phone" type="hidden" value="@Model.Phone" class="form-control" />
            <input asp-for="Rating" type="hidden" value="@Model.Rating" class="form-control" />
            <input asp-for="Img" type="hidden" value="@Model.Img" class="form-control" />
            <input asp-for="ApplicationUserId" type="hidden" value="@Model.ApplicationUserId" class="form-control" />
            <input type="submit" value="Add to Date" class="btn btn-primary" />
        }
    }
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
